<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<!-- This should generate a CSP violation -->
		<script src="https://apis.google.com/js/platform.js"></script>
		<script
			src="https://code.jquery.com/jquery-3.7.1.slim.min.js"
			integrity="sha256-kmHvs0B+OpCW5GVHUNjv9rOmY0IvSIRcf7zGUDTDQM8="
			crossorigin="anonymous"></script>
		<title>violation!</title>
        <script>
            const neato = "foo";
        </script>
		<script>
			const observer = new ReportingObserver(
				(reports, observer) => {
					reports.forEach((violation) => {
					console.log(violation);
					console.log(JSON.stringify(violation));
					});
				},
				{
					types: ["csp-violation"],
					buffered: true,
				},
			);

			observer.observe();
		</script>
	</head>
	<body>
		Hi
	</body>
</html>